@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --priamry-color: FFFFFF;
    --secondary-color: #F15025;
    --third-color: #E6E8E6;
    --fourth-color:#CED0CE;
    --fifth-color:#191919;

}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    background-color: var(--priamry-color);
}

.navBtn {
    color: var(--fifth-color);
    border: none;
    background: none;
    margin-top: 18px;
    font-weight: 800;
}

.navBtn:hover{
    text-decoration: underline 2px solid;
}

#logo{
    position: absolute;
    left: 300px;
    top: -2px;
    font-size: 1em;
}



.signInNav{
    position: absolute;
    width: 100px;
    height: 34px;
    right: 60px;
    margin-top: -28px;
    border: 2px solid var(--secondary-color);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left:5px;
    padding-right: 5px;
    border-radius: 5px;
    font-size: .8em;
    font-weight: 600;
    
    
}

.fa-user{
    margin-right: 10px;
}

.signInNav:hover{
    cursor: pointer;
    background-color: var(--secondary-color);
}

nav {
    background-color: var(--fourth-color);
    position: relative;
    margin: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    align-items: center;
    top: 0;
}

.backgroundImg{
    width: 96%;
    margin-left: 20px;
    margin-right: 20px;

    height: 260px;
    background-image: url('/images/background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain; 
}

.search-container{
    margin-top: -80px;
    width: 656px;
    border-radius: 10px;
    height: 190px;
    background-color: var(--fourth-color);
    text-align: center;
    justify-content: space-between;
}

.search-container h1{
    color:var(--secondary-color);
}

.search-container p{
    color:var(--fifth-color);
    font-weight: 600;
}

#SearchForm{
    display: flex;
    justify-content: space-between;
    
}

#searchBox{
    width: 434px;
    height: 48px;
}

.searchBtn{
    height: 48px;
}

.story-container{
    width: 80%;
    margin-top: 20px;
    /* background-color: var(--fifth-color); */
    display: flex;
    justify-content: space-around;
}

.story{
    width: 228px;
    background: var(--fourth-color);

}

.storyImg{
    background-image: url('https://media.rightmove.co.uk/homepage_pod_1.jpg');
    background-size: cover;
    width: 100%;
    height: 159px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: blue;


}

.title{

}

.description{

}

.redirectLink{

}

#account{
    width: 228px;
    height: 159px;
    text-align: center;

}

#recentImg{
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 100px;
}

#createAccount, #signIn{
    width: 90%;
    background-color: var(--secondary-color);
    height: 48px;
    padding: 5px;
    font-size: 1em;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
}

.recentSearches{
    width: 100%;
    text-align: start;
    font-weight: bold;
    border: 1px solid var(--fourth-color);
    padding: 10px;
    border-radius: 3px;
    margin-top: 10px;
}

.recentSearches p{
    font-weight:normal;
    font-size: .8em;
}

button:hover{
    cursor: pointer;
}

.where{
    width: 55%;
    height: 150px;
    margin-top: 20px;
    margin-left: -20%;
    background-color: var(--third-color);
    padding-left: 20px;
    border: 1px solid var(--fourth-color);
    border-radius: 3px;
}

.misc-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 55%;
    height: 150px;
    margin-top: 20px;
    text-align: start;
    margin-left: -20%;
    padding-left: 20px;
    background-color: var(--third-color);
}

.misc{
    width:30%;
}

.misc-title{
    font-size: .8em;
    font-weight: 600;
}

.footerMenu{
    width:100%;
    height:600px;
    background: red;
}

.overlay{
width: 100%;
opacity: 50%;
height: 100%;
background-color: black;
position: fixed;
z-index: 4;
top:0;
}

.active{
    display: block;
}

.notActive{
    display: none;
}

.accountModal{
    width: 359px;
    height: 100%;
    position: fixed;
    top: 0;
    right: -359px;
    background-color: var(--third-color);
    z-index: 5;
}

#modalHeadingContainer{
    background-color: blue;
    width: 100%;
    line-height: 50px;
    height:50px;
    justify-content: center;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
}

#accountModalHeaderSelect{ 
    width: 100%;
    display: flex;
}

#signInMdl, #createAccountMdl{
    display: flex;
    flex-direction: row;
    height: 68px;
    line-height: 68px;
    width: 50%;
    justify-content: center;
    font-weight: 600;
}

#signInMdl, #createAccountMdl:hover{
    cursor: pointer;
}

.scrollBlock{
    overflow: hidden;
}

.underline{
    border-bottom: 4px solid var(--secondary-color);
}

.moveModal{
    transform: translatex(-359px);
    transition: .7s linear;
}

#registerForm{
    padding: 24px;

}

#signInForm{
    padding: 24px;
}

#emailInput, #passwordInput{
    width: 311px;
    height: 48px;
    padding:8px 16px;
    margin: 10px 0;
    border: 1px solid lightgray;
    border-radius: 5px;

}

#fNameInput, #lNameInput, #postCode{
    width: 311px;
    height: 48px;
    padding:8px 16px;
    margin: 10px 0;
    border: 1px solid lightgray;
    border-radius: 5px;

}

#fNameInput:focus, #lNameInput:focus,#postCode:focus,#emailInput:focus, #passwordInput:focus{
    outline: 3px solid var(--secondary-color);

}

/*             for sale page           */

.main{
    
}

.property{
    width: 924px;
    height: 360px;
    border:2px solid var(--fourth-color);
    border-radius:7px ;
    margin: 20px auto;
}

.property:hover{
    cursor: pointer;
}

img{
    margin-right: 20px;
}

.badge{
    width: 90px;
    height: 24px;
    line-height: 24px;
    font-size: .7em;
    margin-top: 20px;
    background-color: var(--secondary-color);
    border-radius: 20px 20px 20px 20px;
    text-align: center;
}



.overview{
    /* background-color: blue; */

}

.subContainer{
    display: flex;
    flex-direction: row;
}

.houseInfo{
    width: 50%;
}
.agent-container{
    width: 100%;
    height: 56px;
    line-height: 56px;
    padding:0 0 0 16px;
    display: flex;

}

#aLogo{
    width: 100px;
    height: 38px;
    padding-left: 16px;
    margin-top: 8px;
    

}

.agentDetails{
    border: none;
    background: none;
    font-size: 1em;
    font-weight: 600;
}

.ad1{
    text-align: center;
   margin-left: 660px;
    /* right: 50px; */
}

.agent-container button a{
    text-decoration: none;
    color: black;
}

.agent-container button a:hover:visited{
    text-decoration: none;
}

.agentDetails:hover, .agent-container button a:hover{
    text-decoration: underline 3px solid var(--secondary-color) !important;
}

.fa-phone,.fa-envelope{
    margin-right: 5px;
    text-decoration: none;
}

.fa-phone,.fa-envelope:hover{
   cursor: pointer;
}

.displayAddress{
    color: rgb(131, 131, 131);
    font-size: .8em;
    font-weight: 600;
    margin-top: -10px;
}

.listed,.available{
    font-size: .7em;
    color: rgb(131, 131, 131);
}

.listed{
    position: absolute;
    margin-top: 60px;
}

.available{
    position: absolute;
    margin-top: 80px;
}